@import "../../scss/variables.scss";
.pageList {
  width: 300px;
  background: $background;
  border-right: 1px solid white;
  user-select: none;
  .pageItem {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    border-bottom: 1px solid #999;
    cursor: pointer;
    &:hover {
      background: lighten($background, 10);
    }
  }
  .layerListWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    .back {
      flex-shrink: 0;
      background: lighten($background, 15);
      display: flex;
      align-items: center;
      .backBtn {
        padding: 15px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background: lighten($background, 20);
        }
      }
    }
    .layerList {
      flex: 1 1 auto;
    }
  }
}