.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  >.fileDropper {
    flex: 1 1 auto;
  }
  >.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    >i{
      margin-right: 12px;
    }
  }

}