.canvas{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: default;
  .tools{
    position: absolute;
    bottom: 20px;
    right:20px;
    background: rgba(0,0,0,0.6);
    padding:8px;
    padding-top:3px;
    padding-bottom: 3px;
    z-index: 10;
    display: flex;
    user-select: none;
    align-items: center;
    border-radius: 8px;
    .text{
      font-size:0.8em;
      font-weight: bold;
      margin-right:5px;
    }
    .zoom{
      margin-left:8px;
      margin-right:8px;
      cursor: pointer;
      font-size: 1.2em;
    }
  }
}