@import "../../scss/variables.scss";
.layerExportView {
  .cardBody {
    .formats {
      display: flex;
      user-select: none;
      >span {
        flex: 1 1 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        &.active {
          background: $primary;
        }
      }
    }
    .imgParam {
      .preview {
        position: relative;
        height:200px;
        background: url("../../img/ts_bg.png");
        >img {
          max-width: 90%;
          max-height: 90%;
          position: absolute;
          left:50%;
          top:50%;
          transform: translate(-50%,-50%);
        }
      }
      .options{
        display: flex;
        flex-wrap: wrap;
        >*{
          width:50%;
          border-bottom:1px solid $grey-dark;
        }
        >*:nth-child(even) {
          border-left: 1px solid $grey-dark;
        }
        .dropdown-content{
          background: darken($grey-darker,30);
        }
      }
    }
    .row{
      display: flex;
      align-items: center;
      >div{
        padding:8px;
        flex: 1 0 auto;
      }
    }
  }
}