.sidebarRight {
  overflow-y: auto;
  overflow-x:hidden;
  .card {
    .title {
      font-size: 1em;
      font-weight: bold;
      padding: 3px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
    }
    .cardBody {
      
    }
  }
}