.layerBasicView {
  .title {
    display: flex;
    .showCss {
      padding-right: 8px;
      font-size: 0.8em;
      font-weight: bold;
      cursor: pointer;
      user-select: none;
    }
  }
  .cardBody {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
    table {
      width: 100%;
      tr {
        td {
          border-bottom: 1px solid #aaa;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        td:first-child {
          padding-right: 1em;
          font-weight: bold;
          text-align: right;
          width: 50px;
          padding-left: 1em;
        }
        td:last-child {
          padding-left: 1em; // white-space: nowrap;
          // overflow: scroll;
          // text-overflow: ellipsis;
          cursor: pointer;
        }
      }
    }
    textarea{
      
    }
  }
}